
@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {

  .head-info .header-content .cmaster h1 {
    font-size: 32px;
  }
}

@media (max-width: 767px) {

  .head-info .header-content h1 {
    font-size: 12px;
  }

@media (max-width: 600px) {

  .head-info .header-content h1 {
    font-size: 12px;
  }


@media (max-width: 480px) {

  .head-info .header-content h1 {
    font-size: 12px;
  }

@media (max-width: 320px) {

  .head-info .header-content h1 {
    font-size: 12px;
  }
